.App {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  width: 420px;
  min-height: 600px;
}

/***********************************
          CSS Variables
 ***********************************/

:root {
  --color-primary: #4200ff;
}

/***********************************
          Typography
 ***********************************/

.h1-black {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: #3f3f3f;
}

.h1-blue {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: var(--color-primary);
}

.h2-black {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3f3f3f;
}

.h2-blue {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3f3f3f;
  color: var(--color-primary);
}

.h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: hsla(0, 0%, 0%, 0.4);
  text-transform: uppercase;
}

.p-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.p-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 0%, 0.9);
}

.p-bold-light {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 0%, 0.5);
}

.p-bold-blue {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-primary);
}

.span-tag {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: hsla(0, 0%, 0%, 0.35);

  background-color: #f4f6fd;
  border-radius: 22px;
  padding: 2px 6px;
  margin-right: 4px;
}
