.App {
  /* background-color: floralwhite; */
  text-align: center;
  width: 420px;
  min-height: 600px;
}

/***********************************
          CSS Variables
 ***********************************/

:root {
  --color-primary: #4200ff;
}

/***********************************
          Typography
 ***********************************/

.h1-black {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: #3f3f3f;
}

.h1-blue {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: var(--color-primary);
}

.p-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.p-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 0%, 0.9);
}

.p-bold-light {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 0%, 0.5);
}

.p-bold-blue {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-primary);
}
